@import "../../App.variables.scss";

.price__section {
  overflow: hidden;

  &::before {
    display: block;
    width: 722px;
    height: 735px;
    content: "";
    background-image: url(../../assets/svg/price-section-star-filled.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -80px;
    bottom: -180px;
    z-index: -5;

    @media (max-width: 1200px) {
      width: 622px;
      height: 635px;
    }
  }

  &::after {
    display: block;
    content: url(../../assets/svg/price-section-star-outlined.svg);
    position: absolute;
    right: 0;
    top: 15%;
    z-index: -5;
  }
}

.prise__container {
  margin-top: $section-margin;
  margin-bottom: $section-margin;

  .price__title {
    @include h2;
    color: $main-color-green;
    width: 100%;
    text-align: center;
  }

  .price__cards-box {
    margin-top: 80px;
    @include flex;
    justify-content: center;
    gap: 20px;

    @media (max-width: 1200px) {
      margin-top: 50px;
    }
  }
}
