@import "../../App.variables.scss";

.modal-window {
  background-color: $main-color-gray;
  border-radius: 20px;
  border: 1px solid $main-color-purple;
  @include flex;
  padding: 65px 0 !important;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;

  &::before {
    display: block;
    width: 260px;
    height: 260px;
    content: "";
    background-image: url(../../assets/svg/modal-window-star-green-filled.svg);
    background-repeat: no-repeat;
    background-size: 260px 260px;

    position: absolute;
    right: -30px;
    bottom: -50px;
  }
}

.ant-modal-content {
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
}
