@import "../../App.variables.scss";

.header__container {
  @include flex;
  justify-content: center;
  gap: 250px;
  margin-top: 60px;

  .header__logo {
    width: 200px;
    margin: 0 70px;
  }

  .header__nav {
    @include flex;
    justify-content: center;
    gap: 55px;
  }

  .nav-item {
    text-decoration: none;
    color: $text-color;
    transition: 0.3s;

    &:hover {
      color: $main-color-green;
    }
  }
}
