$big-font: 98px;
$section-title-font: 50px;
$title-font: 33px;
$text-font: 20px;
$sub-title-font: 22px;
$button-font: 24px;

$bg-color: #f7f2f6;
$main-color-blue: #1f69d7;
$main-color-green: #41b30a;
$main-color-purple: #d738ff;
$title-color-purple: #6a0dad;
$main-color-orange: #d7611f;
$main-color-white: rgb(255, 255, 255);
$text-color: #212121;

$main-width: 1420px;
$section-margin: 100px;

@mixin font {
  font-size: $text-font;
  font-weight: 500;
  letter-spacing: 1;
}

@mixin h1 {
  font-weight: 700;
  font-size: $big-font;
  line-height: 100%;
  letter-spacing: -0.01em;
}

@mixin h2 {
  font-size: $section-title-font;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.01em;
}

@mixin h3 {
  font-weight: 700;
  font-size: $title-font;
  line-height: 150%;
  letter-spacing: -0.01em;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
