@import "./App.variables.scss";

.app {
  width: 100vw;
  min-height: 100vh;
  @include flex;
  flex-direction: column;
  justify-content: center;
}

.header,
.main,
.footer {
  width: 100%;
  @include flex;
  flex-direction: column;
  justify-content: center;
}
